<h1>Your projects (<%= @projects.count %>)</h1>


<ul>
  <% @projects.each do |project| %>
    <li> 
      <%= project.name %> | 
      <%= link_to "New post", new_project_post_path(project) %> | 
      <%= link_to "Show posts", project_posts_path(project) %> |
      <%= link_to "Edit", edit_project_path(project) %> |
      <%= link_to "Destroy", project_path(project), confirm: "Are you sure?", method: :delete, title: "Destroy" %>
    </li>
  <% end %>
</ul>
<p>
  <%= project_paginator(@projects) %>
</p>