<h1>Posts <%= @project.name %> (<%= @project.hours.to_i.round(1) %> h) (<%= @week %> h) (<%= @average %> h)</h1>

<% if @posts.empty? %>
  <p>
    <%= link_to "Create your first post", new_project_post_path(@project), class: "paginate" %>
  </p>
<% else %>
  <p>
    <%= post_paginator(@posts) %>
  </p>

  <% @posts.each do |post| %>
      <h2>
        <%= post.created_at.strftime("%B %d") %> - 
        <%= post.diff %>h
        <% if current_user.own?(@project) %>
          <%= link_to image_tag("edit.png", class: "edit-icon"), edit_project_post_path(@project, post), class: "post", title: "Edit post" %> 
          <%= link_to  image_tag("destroy.png", class: "destroy-icon"), project_post_path(@project, post), confirm: "Are you sure?", method: :delete, class: "post", title: "Destroy post" %>
        <% end %>
      </h2>
      <hr class="dashed">
      <%= Maruku.new(post.body).to_html.html_safe %>
      <hr>
  <% end %>

  <p>
    <%= post_paginator(@posts) %>
  </p>
<% end %>