<!DOCTYPE html>
<html>
<head>
  <title>Journal</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller]%>-controller" class="<%= params[:action]%>-action">
  
  <% if flash.present? %>
    <% flash.keys.each do |key| %>
      <div id="note">
          <%= flash[key] %>
      </div>
    <% end %>
  <% end %>
  
  <div id="main" data-yield="main">
    <div id="wrap">
      <%= yield %>
    </div>
    <footer>
      <%= link_to "Contact", "http://github.com/oleander" %> | <%= link_to "Fork me", "http://github.com/oleander/journal-rb" %>
    </footer>
  </div>
</body>
</html>
